
%h1

.ly-tag

	今注目のタグ

	
= @lessons.each do |lesson| 
	%article.lessons

		.mod-lessons-picture
			河内りん
		%h2.mod-lessons-title 
			= link_to lesson.title, lesson

		=	@tags.each do |lesson| 
		%h3.mod-lessons-tags #可変
		%p.mod-lessons-textarea 
			= lesson.simple_description
