
%h1

.ly-tag

	今注目のタグ

	
- @lessons.each do |lesson| 
	%article.lessons

		.mod-lessons-picture
			.mod-lessons-name
				河内りん
			= image_tag lesson.header.url
			
		%h2.mod-lessons-title 
			= link_to lesson.title, lesson

		%h3.mod-lessons-tags
		%p.mod-lessons-textarea 
			= lesson.simple_description