// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ly-home-wrap{
	width: 880px;
	margin: auto;
}
.ly-home-title{
	background-color: #ccc;
}