// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ly-user-show{
	background-color: #ccc;
	width: 400px;
	height: auto;
}

.ly-all-users{
	img{
		border: 2px solid #ccc;
	}
}

.ly-lesson-show-wrapper
.ly-lesson-show{
	background-color: #ccc;
	width: 600px;
	height: auto;
}


.mod-user-profile{
	width: 400px;
	height: auto;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 0 12px 1px rgba(0,0,0,0.3);
}