.ly-users-edit {
  width: 700px;
  margin: auto;
  background-color: #fff;
  margin: 40px auto;
  .user-header {
    background-size: 100%;
    height: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-position: 0 50%;
    width: 100%;
    padding: 0;
    margin-top: -1px;
  }
  .user-edit-main-content {
    background-color: #fff;
    width: 700px;
    margin: auto;
    position: relative;
    .header {
      height: 250px;
      background-color: #ccc;
      position: relative;
    }
  }

  .content {
    padding: 5px 50px;
  }

  .field {

    &.about-header {
      display: block;
      margin-top: -250px;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1000;

      &:hover {
        background-color: #000;
        opacity: 0.3;
        label {
        position: relative;
        display: block;
        width: 100%;
        height: 200px;
        font-size: 16px;
        line-height: 200px;
        margin: auto;
        text-align: center;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #fff;
        border-radius: 4px;
        font-weight: bold;
      }

      label:active {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
      }
      }
      input {
        display: none;
        /* アップロードボタンのスタイルを無効にする */
      }
      

    }

    &.about-picture {
      width: 100px;
      height: 70px;
      line-height: 68px;
      float: left;
      input {
        display: none;
        /* アップロードボタンのスタイルを無効にする */
      }

      label {
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #fff;
        background: rgba(28, 133, 134, 1);
        border-radius: 4px;
        box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
        font-weight: bold;
        border: solid 2px rgba(0, 0, 0, 1);
      }

      label:active {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
      }
    }

    label {
      font-size: 12px;
      line-height: 20px;
    }
    input {
      height: 30px;
      font-size: 16px;
      line-height: 30px;
      width: 600px;
      background-color: rgb(230, 230, 230);
      box-sizing: border-box;
      margin-bottom: 20px;
      border: none;
    }
    &.about-username {
      padding-left: 50px;
      width: 450px;
      float: left;
      input {
        width: 450px;
      }
    }
    &.about-introduction {
      textarea {
        height: 150px;
        width: 600px;
        font-size: 16px;
        background-color: rgb(230, 230, 230);
        border: none;
        box-sizing: border-box;
      }
    }
  }
  .submit {
    width: 600px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    background: rgba(28, 133, 134, 1);
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px rgba(0, 0, 0, 1);
  }

  .submit:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
}