.ly-user-show {
  @include clearfix;
  width: 1100px;
  margin: auto;
  .user-header {
    display: block;
    width: 100%;
    height: 100%;
  }
  .user-show-main-content {
    float: left;
    background-color: #fff;
    width: 700px;
    margin: 40px auto auto auto;
    position: relative;
    border: 1px solid #ccc;
    .user-header {
      height: 200px;
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 100%;
    }

    .name {
      text-align: left;
      font-size: 24px;
      margin-left: 200px;
      line-height: 40px;
    }



    .profiles {
      width: 480px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      height: 150px;
      margin: 10px 0 10px 200px;
    }
  }

  .choice-show {
    display: table;
    text-align: center;
    width: 100%;
    padding: 0;
    table-layout: fixed;
    li {
      display: table-cell;
      box-sizing: border-box;
      border: 1px solid #fff;
      color: #fff;
      height: 30px;
      line-height: 30px;
      background-color: #2B6CA3;
      margin-left: -1px;
    }
  }

  .user-show-left-content {
    float: left;
    width: 300px;
    text-align: center;
    margin: 40px;
    a {
      text-decoration: none;
    }
    a:link {
      color: #000;
    }
    a:visited {
      color: #000;
    }
    a:hover {
      color: #000;
    }
    a:active {
      color: #000;
    }
  }
  .mod-left-content {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    text-align: left;
    margin-top: -1px;
    padding-left: 40px;
    &:hover {
      background-color: #ccc;
    }
  }

  .user-holds {
    @include clearfix;
    width: 100%;
  }
}