@import "normalize.scss";
@import "users.scss";
@import "users_show.scss";
@import "users_edit.scss";
@import "modules.scss";
@import "static_pages.scss";
@import "lessons.scss";
@import "comments.scss";
@import "lessons_new.scss";
@import "lessons_show.scss";
@import "login.scss";
@import "footer.scss";
@import "jquery.tagit.scss";
@import "tagit.ui-zendesk.scss";

li {
  list-style: none;
}
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
  font-family: 'Noto Sans Japanese', sans-serif;
}

p {
  margin: 0;
}

body {
  background-color: #f7f5f5;
  color: #575757;
}

.always-fix-tensaku {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: red;
  z-index: 200000;
  right: 50px;
  bottom: 50px;
}


.mod-header-buttons {
  width: 30px;
  height: 30px;
  border-radius: 18px;
  margin: 5px;
  font-size: 30px;
  color: #000;
  float: right;
  box-sizing: border-box;
  padding-top: 0;
  &.is-circled {
    border: 1px solid #000;
    font-size: 20px;
    padding: 5px;
  }
}


.header-form {
  float: left;
  margin-top: 10px;
}



.ly-form-content {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 200px;
}

.ly-header {
  background-color: #fff;
  border-bottom: solid 1px #000;
  height: 40px;
  width: 100%;
  position: relative;
  .inner {
    width: 910px;
    margin: auto;
  }
  .header-to-mypage {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    right: 40px;
    border-radius: 10px;
    top: 6px;
  }
  .header-image-picture {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 160px;
    top: 5px;
    border: 1px solid #ccc;
  }
}


.lessons {
  width: 136px;
  height: 180px;
  background-color: rgba(204, 204, 204, 0.3);
  float: left;
  margin-right: 4px;
  box-sizing: border-box;
}

.mod-static-lessons-wrappers {
  height: 180px;
  margin-bottom: 20px;
}

.tutors-logo {
  width: auto;
  float: left;
  height: 30px;
  margin: 5px;
}

.mod-lessons-name {
  font-size: 12px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
}

.mod-lessons-textarea {
  padding: 0 10px 0 10px;
}

@media (max-width: 600px) {}