
@import "normalize.scss";
@import "users.scss";
@import "static_pages.scss";
@import "lessons.scss";

li{
	list-style: none;
}

p{
	margin: 0;
}




.ly-form-content{
	width: 400px;
	height: 400px;
	margin: auto;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 200px;
}

.ly-header{
	background-color: #4267b2;
	height: 50px;
	width: 100%;
	position: relative;
	.header-to-mypage{
		display: block;
		padding: 10px;
		box-sizing: border-box;
		background-color: #fff;
		position: absolute;
		right: 40px;
		border-radius: 10px;
		top: 6px;
	}
	.header-image-picture{
		width: 40px;
		height: 40px;
		position: absolute;
		right: 160px;
		top: 5px;
		border: 1px solid #ccc;
	}
}


.lessons{

	width: 200px;
	height: auto;
	background-color: #fff;
	border-radius: 10px;
	/*box-shadow: 0 0 12px 1px rgba(0,0,0,0.3);*/
	border: 2px solid #ccc;
	float: left;
	margin: 10px;
	box-sizing: border-box;
}

.tutors-logo{
	width: 200px;
	height: auto;
}



.ly-tag{
	border: 1px solid #ccc;
	height: 20px;
	width: 95%;
	margin: auto;
}

.mod-lessons-name{
	font-size: 16px;
	text-align: center;
}

.mod-lessons-tags{
	font-size: 14px;
	text-align: center;
}

.mod-lessons-textarea{
	padding: 0 10px 0 10px;
}



.ly-user-show{
	background-color: #ccc;
	width: 400px;
	height: auto;
	margin: 50px auto auto auto;
	img {
		width: 100px;
		height: auto;
		border-radius: 50px;
	}
}

/*img {
	width: 50px;
	height: auto;
	border-radius: 50px;
}*/