@import "normalize.scss";
@import "compass";
@import "users.scss";
@import "users_show.scss";
@import "users_edit.scss";
@import "modules.scss";
@import "static_pages.scss";
@import "lessons.scss";
@import "replies.scss";
@import "comments.scss";
@import "lessons_new.scss";
@import "lessons_show.scss";
@import "login.scss";
@import "login-links.scss";
@import "registration.scss";
@import "footer.scss";
@import "jquery.tagit.scss";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

li {
  list-style: none;
}
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
  font-family: 'Noto Sans Japanese', sans-serif;
}

p {
  margin: 0;
}

body {
  background-color: #f7f5f5;
  color: #575757;
}

// 未訪問リンク　の　色を　red　にする。
a:link { color: #000 } 
//訪問済みリンク　の　色を　green　にする。
a:visited { color: #000 }
//マウスカーソルを乗せたリンク　の　色を　blue　にする。
a:hover { color: #000 } 
//選択したリンク　の　色を　gray　にする。
a:active { color: #000 } 
a{
  text-decoration: none;
}


.search-form {
    max-width: 720px;
    position: absolute;
    top: 5px;
    left: 150px;
    color: #fff;
}  
.search-text  {      
    border: none;
    color: #fff;
    max-width: 720px;
    height: 35px;
    padding-left: 40px;
    background-color: #05444d;
}

.search-submit {
    position: absolute;
    background-color: #05444d;
    top: 0px;
    left: 0px;
    margin-top: 5px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: 'Material Icons';
}  


.always-fix-tensaku {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: red;
  z-index: 200000;
  right: 50px;
  bottom: 50px;
}


.mod-header-buttons {
  width: 30px;
  height: 30px;
  border-radius: 18px;
  margin: 5px;
  margin-top: 10px;
  font-size: 30px;
  color: #000;
  float: right;
  box-sizing: border-box;
  padding-top: 0;
  &.is-circled {
    border: 1px solid #fff;
    font-size: 20px;
    padding: 5px;
  }
}


.header-form {
  float: left;
  margin-top: 10px;
}


.ly-form-content {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 200px;
}

.ly-header {
  background-color: #07535e;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #000;
  position: relative;
  i{
    color: #fff;
  }
  .inner {
    width: 910px;
    margin: auto;
    position: relative;
  }
  .header-to-mypage {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    right: 40px;
    border-radius: 10px;
    top: 6px;
  }
  .header-image-picture {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 160px;
    top: 5px;
    border: 1px solid #ccc;
  }
}


.mod-static-lessons-wrappers {
  @include clearfix;
  margin-bottom: 20px;
}

.tutors-logo {
  width: auto;
  float: left;
  height: 30px;
  margin: 5px;
}

.logo{
  font-size: 32px;
  color: #fff;
  margin-top: 4px;
  display: inline-block;
}


.mod-lessons-textarea {
  padding: 0 10px 0 10px;
}

@media (max-width: 600px) {}