// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_lesson{
  width: 70%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

label{
  display: block;
}
#lesson_title{
  display: block;
  margin:0 auto;
}